*{
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
}

.panel{
    margin: auto;
    width: 70%;
    height: 50%;
    position: relative;
    margin-top: 10%;
}
.panel-heading{
    text-align: right;
}
